<body class="container" [style.background-image]="backgroundImageUrl">
  <div class="py-5 px-4">
    <h1 class="display-2 font-weight-normal">Passa Passa Rentals</h1>
    <p class="lead text-light">Discover the freedom of the open road with us. Rent a car hassle-free and explore your destination at your own pace. From sleek city cars to spacious SUVs, we have the perfect ride for every journey. Quality vehicles,
      competitive rates, and a seamless rental experience await. Start your adventure with Passa Passa today!</p>
  </div>
</body>
