.round {
    border-radius: 6px; 
    background-color: #F6D6D6;
    overflow: hidden;
}

.cd :hover{
    background-color: #CDE990;
    transform: scale(1.05); 
    transition: transform 0.3s ease; 
}

.custom-list-item {
    background-color: #DED0B6; 
    border: none; 
}
